#marketplace .search-bar input {
  border: none;
  padding: .8rem 1.6rem;
  background-color: #f3f4f6;
  font-size: .85rem;
}

#marketplace .search-bar input:focus {
  box-shadow: none;
  outline: none;
}

#marketplace .category-filter .category-filter__heading {
  margin-bottom: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#marketplace .category-filter .category-filter__heading h2 {
  margin-right: 1rem;
  color: #111827;
  font-size: 1.1rem;
  font-weight: bolder;
}

#marketplace .category-filter .category-filter__heading span {
  color: #6366f1;
  font-size: .8rem;
}

#marketplace .category-filter .category-slider {
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  display: flex;
  list-style-type: none;
}

#marketplace .category-filter .category-slider::-webkit-scrollbar {
  display: none;
}

#marketplace .category-filter .category-slider li {
  transition: all .1s cubic-bezier(0.4, 0, 1, 1);
  border-radius: 0.5rem;
  margin-bottom: .3rem;
  margin-right: .5rem;
  padding: .45rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b7280;
  font-size: .9rem;
  cursor: pointer;
}

#marketplace .category-filter .category-slider li:hover {
  background-color: #f3f4f6;
  color: #1f2937;
}

#marketplace .category-filter .category-slider li.active {
  background-color: var(--primary-500);
  color: #f9fafb;
  font-weight: bold;
}

#marketplace .marketplace-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#marketplace .marketplace-filters .marketplace-filters__view {
  border: #e5e7eb solid 1px;
  border-radius: .4rem;
  padding: .35rem .6rem;
  color: #4b5563;
  font-size: .85rem;
}

#marketplace .marketplace-filters .marketplace-filters__sort {
  border: #e5e7eb solid 1px;
  border-radius: .4rem;
  padding: .35rem .6rem;
  color: #4b5563;
  font-size: .85rem;
}

#marketplace .marketplace-filters .marketplace-filters__sort:focus,
#marketplace .marketplace-filters .marketplace-filters__view:focus {
  outline: none;
}

#marketplace .marketplace-results__count {
  color: #6b7280;
}

#marketplace .marketplace-items-move,
/* apply transition to moving elements */
#marketplace .marketplace-items-enter-active,
#marketplace .marketplace-items-leave-active {
  transition: all 0.5s ease;
}

#marketplace .marketplace-items-enter-from,
#marketplace .marketplace-items-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
#marketplace .marketplace-items-leave-active {
  position: absolute;
}

#marketplace .marketplace-item {
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
}

#marketplace .marketplace-item .marketplace-item__image {
  position: relative;
  margin: 0;
  margin-bottom: .4rem;
}

#marketplace .marketplace-item .marketplace-item__image img {
  border-radius: 1rem;
}

#marketplace .marketplace-item .marketplace-item__image .marketplace-item__image__location {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  border-radius: .3rem;
  padding: .2rem .5rem;
  background-color: var(--primary-500);
  color: var(--primary-100);
  font-size: .75rem;
}

#marketplace .marketplace-item .marketplace-item__description {
  color: #111827;
}

#marketplace .marketplace-item .marketplace-item__description .marketplace-item__description__title {
  margin-bottom: .05rem;
  font-size: .9rem;
  font-weight: bold;
}

#marketplace .marketplace-item .marketplace-item__description .marketplace-item__description__price {
  display: flex;
  flex-direction: column;
  font-size: .65rem;
  font-weight: 900;
  color: #6b7280;
}

#marketplace .marketplace-item .marketplace-item__description .marketplace-item__description__price s {
  margin: .2rem .45rem 0 0;
}

#marketplace .marketplace-item .marketplace-item__description .marketplace-item__description__price span {
  margin: 0;
  font-size: .8rem;
}

@media only screen and (min-width: 768px) {
  #marketplace {
    padding: 2rem 6rem;
  }

  #marketplace .category-filter {
    margin-bottom: 1rem;
  }

  #marketplace .category-filter .category-filter__heading {
    justify-content: flex-start;
  }
}
