:root {
  --primary-hs: 142 72%;
  --neutral-hs: 0 0%;

  --primary-100: hsl(var(--primary-hs) 96%);
  --primary-300: hsl(var(--primary-hs) 83%);
  --primary-500: hsl(var(--primary-hs) 45%);
  --primary-700: hsl(var(--primary-hs) 29%);
  --primary-900: hsl(var(--primary-hs) 9%);

  --neutral-100: hsl(var(--neutral-hs) 96%);
  --neutral-300: hsl(var(--neutral-hs) 83%);
  --neutral-500: hsl(var(--neutral-hs) 45%);
  --neutral-700: hsl(var(--neutral-hs) 29%);
  --neutral-900: hsl(var(--neutral-hs) 9%);
}

* {
  font-family: 'Inter', 'Work Sans', 'Avenir', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

input,
select,
textarea,
button {
  font-size: 0.95rem;
}

.load-more button {
  color: var(--neutral-500);
}
.load-more button:focus {
  box-shadow: none;
}

.business-directory {
  background-color: var(--neutral-100);
  font-size: 14px;
}

.business-filter .accordion-item {
  background-color: transparent;
}

@media only screen and (max-width: 876px) {
  .business-filter .accordion-header {
    border: none;
  }
}

.business-filter button {
  background-color: var(--primary-300);
  box-shadow: none;
  text-decoration: none;
}
.business-filter button:hover,
.business-filter button:focus {
  box-shadow: none;
  outline: none;
  text-decoration: none;
}
.business-filter__heading {
  color: var(--primary-700);
  font-size: 1rem;
  font-weight: 600;
}
.business-filter__heading span {
  font-size: 1.2rem;
  font-weight: 700;
}
.business-filter__items {
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
}
.business-filter__items::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.business-filter-item {
  background-color: var(--primary-100);
  border: 0.125rem solid var(--neutral-300);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 15px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.business-filter-item__icon {
  margin-right: 10px;
}
.business-filter-item__title {
  color: var(--neutral-700);
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}
.business-filter-item:hover,
.business-filter-item.active {
  border-color: var(--primary-500);
}
.business-filter-item.active {
  background-color: var(--primary-500);
}

.business-filter-item.active .business-filter-item__icon,
.business-filter-item.active .business-filter-item__title {
  color: var(--primary-100);
}

.business-searchbar__button {
  background-color: var(--primary-500);
  color: var(--primary-100);
}
.business-searchbar__input,
.business-searchbar__button {
  font-size: 1rem;
  font-weight: 400;
  height: 53px;
  transition: all 0.3s ease-in-out;
}
.business-searchbar__input {
  padding: 23px;
}
.business-searchbar__input:focus,
.business-searchbar__button:hover,
.business-searchbar__button:focus {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: var(--primary-100);
}

.business-form__modal label {
  color: var(--neutral-700);
  font-size: 1rem;
  font-weight: 500;
}
.business-form__modal .form-control {
  padding: 12px 16px;
}
.business-form__modal-submit {
  background-color: var(--primary-500);
  color: var(--primary-100);
  padding: 8px 16px;
}

.business-list-item {
  border-radius: 7px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  color: var(--neutral-700);
  font-weight: 400;
}

.business-list-item__body {
  border-left: 5px solid var(--primary-500);
}

.business-list-item__body-category {
  color: var(--primary-300);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}
.business-list-item__body-website {
  border: 2px solid var(--primary-500);
  color: var(--primary-700);
  padding: 6px 5px 7px 10px;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.business-list-item__body-website:hover {
  background-color: var(--primary-500);
  color: var(--primary-100);
}
.business-list-item__body-title {
  color: var(--neutral-700);
  font-weight: 700;
}
.business-list-item__body-address {
  color: var(--neutral-500);
  font-weight: 400;
}

.business-list-item__footer {
  border-bottom-right-radius: 7px;
  border-left: 5px solid var(--primary-500);
  background-color: var(--primary-100);
}
.business-list-item__footer-title {
  color: var(--primary-500);
  font-size: 0.75rem;
  font-weight: 700;
}
.business-list-item__footer-owner {
  color: var(--neutral-700);
  font-size: 0.98rem;
  font-weight: 500;
}
.business-list-item__footer-phone {
  color: var(--neutral-500);
  font-weight: 400;
}
